@charset "utf-8";
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: rgb(87, 87, 87);
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Index */
aside h2 {
  text-align: center;
  margin-top: 50px;
}

aside {

  float: right;
}

/* icons */
i {
  vertical-align: center;
}

i.fa-facebook {
  color: blue;
}

i.fa-instagram {
  color: purple;
}

i.fa-envelope {
  color: white;
}

/* Structural Section */
html {
  background-color: rgb(220, 220, 220);
}

/* Centers body and gives the body its space, also gives the body a center of gray which transitions into white */
body {
  position: relative;
  width: 90%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: radial-gradient(gray 40%, white);
}


body h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(78, 78, 78);
  font-size: 5em;
  text-align: center;
}

/* Returns some margin space to close the gap between the section element and the h1 element */
body>h1 {
  margin-bottom: -60px;
}

/* Header */
header img {
  width: 100%;
}

/* Section Element */
section {
  background-color: rgb(0, 0, 0);
  width: 80%;
  color: rgb(255, 255, 255);
  margin: 90px 10% 50px 10%;
  border-radius: 2em;
  border: double;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7em;
}

p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1em;
}

p::first-letter {
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
}

p.date::first-letter {
  font-size: 1.2em;
}



li>p {
  margin-left: 0px;
}

section p {
  padding: 10px;
}

section h2 {
  text-align: center;
}

section h1 {
  font-size: 4em;
  text-align: center;
  color: rgb(233, 223, 223)
}

/* Navigations */

nav {
  background-color: rgb(139, 134, 134);
  width: 100%;
  text-align: center;
  float: left;
  padding: 0px;
  margin: 0px;
}

header nav ul li {
  display: block;
  float: left;
  width: 25%;
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
}

header nav ul li a:link,
header nav ul li a:visited {
  color: white;
  text-decoration: none;
}

header nav ul li a:active,
header nav ul li a:hover {
  text-decoration: underline;
}

/* Footer Section */
footer {
  background-color: rgb(139, 134, 134);
  color: white;
  text-align: center;
}
